.search {
    background-color: #212961c2;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    border: 4px solid #4f0fff;
}

.search p {
    color: #b4b8cf;
}

.search_container {
    display: flex;
    gap: 0.5rem;
}

.search_container input,
.search_container button {
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
}

.search_container button {
    background-color: #0e1129;
    cursor: pointer;
}