* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #FFF;
}

body {
  min-height: 100vh;
  padding: 2rem;
  background: url("../src/assets/background_1.jpg") no-repeat center;
  background-size: cover;
  /* animation: animateBg 5s linear infinite; */
}

@keyframes animateBg {
  100% {
    filter: hue-rotate(360deg);
  }
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}